.square-con {
    display: flex;
    /* flex-direction: column; */
   justify-content: space-between;
    align-items: space-between;
   
    width: 960px;    
    height: 960px;
    border: 1px solid black;
    flex-wrap: wrap;
}

.single-square {
    border: 1px solid black;
    display: flex;
    min-height: 1px;
    min-width: 1px;
    flex: 0 1 auto;
}

.color-me {
    background-color: aquamarine;
}
#reset-btn {
    width: 4em;
    height: 4em;
    background-color: blanchedalmond;
    font-size: 14px;
    border: 2px dotted black;
}