.square-con {
    display: flex;
    /* flex-direction: column; */
   justify-content: space-between;
    align-items: space-between;
   
    width: 960px;    
    height: 960px;
    border: 1px solid black;
    flex-wrap: wrap;
}
.row-square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: space-between; */
    flex:auto;

}

.single-square {
    border: 1px solid black;
    display: flex;
    min-height: 1px;
    min-width: 1px;
   flex: auto;
}

.color-me {
    background-color: aquamarine;
}